@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

        * {
            font-family: 'Kodchasan', sans-serif;
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            padding: 0;
            background: #f4f4fb;
        }
        .navbar{
            width:80%;
            margin-right: auto; 
            margin-left: auto; 
            position: sticky;
            top:0;
            display: flex;
            background-color: #333;
            background: #ffffff;
            opacity: 0.9;
        }

        .header2 {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem;
            height: 500px;
            max-width: 100%;
          max-height: 100%;
          object-fit: contain;
            background: url("https://img.freepik.com/free-vector/phuket-thailand-skyline-with-panorama-white-background-vector-illustration-business-travel-tourism-concept-with-modern-buildings_596401-158.jpg?w=1380&t=st=1680504002~exp=1680504602~hmac=f91d7d109aaaa39c8e052b152c3f329ba0362459a82c32545398f28ceea87b95");
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;
            font-size: 15px;
            text-align:center;
            font-weight:1000;
        }
        
        .logo img{
            height: 50px;
            cursor: pointer;
        }
        ul {
            display: flex;
            justify-content: center;
            padding-left: 50%;
            align-items: center;
            width: 100%;
            list-style: none;
        }
        ul li {
            margin: 0 1rem;
        }
        ul li a {
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
            line-height: 30px;
            height: 40px;
            color: #000000;
        }
       

        footer {
            padding: 1rem;
            background: #333;
            color: #fff;
        }


        .main {
            display: grid;
            grid-template-columns: 1fr;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            background: #ffffff;
        }

        #btn4 {
        display: block;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 25px;
        font-size: 15px;
        cursor: pointer;
        color: #fff;
        background-color: #a0d2cd;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        }
        #mode {
            color: black;
        }
    .modal-content{
        display: grid;
        grid-template-columns:  10fr 10fr 1fr;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 600px;
    }
    #googlemap {
        position: relative;
        width: 100%;
        height: 400px;
        margin: 0px auto;     
    }
    .container-fluid {
        justify-content: center;
        align-items: center;
      }
      #output{
        margin-top:70px;
        font-weight: bold;
        width: 95%;
        height:30%;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding-top: 15px;
        padding-left: 23px;
        justify-content:center;
        align-items:center;
        margin-left : auto;
        margin-right : auto;
        background-color: #F0FFFF;


      }
    #output2 {
        margin-top:50px;    
        font-weight: bold;
        width: 90%;
        height:25%;
        padding-top: 15px;
        padding-left: 22px;
        border-top: 2px solid black;
        border-bottom : 2px solid black;
        justify-content:center;
        align-items:center;
        margin-left : auto;
        margin-right : auto;
        background-color: #F0FFFF;
      }

      .output11{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        width:90%;
        height:80%;
        line-height: 1.7;
        background: #f4f4fb;
      
      }